 *{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  display: flex;
  justify-content: center;
  align-items: center;
}


.card{
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.card h2{
  margin-bottom: 20px;
  color: #1e3c72;
}

.card input{
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card button{
  width: 100%;
  padding: 10px;
  background: #1e3c72;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

.card button:hover{
  background: #16305f;
}

.card p{
  margin-top: 15px;
}

.card a{
  color: #1e3c72;
  text-decoration: none;
  font-weight: bold;
}



body{
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}


.container{
  width: 100%;
  max-width: 500px;
}


.create-box{
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.create-box textarea{
  width: 100%;
  height: 60px;
  padding: 8px;
  margin-bottom: 10px;
}

.create-box button{
  background: #1e3c72;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}


.post{
  background: white;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.post button{
  background: transparent;
  border: none;
  color: #1e3c72;
  cursor: pointer;
  font-weight: bold;
}
